<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<button><img   heigth="30px" alt="cicles club lavalle de www.facebook.com" id="dimg_5" src="cicles_club_lavalle.bmp" >Cicles Club Lavalle</button>
<button><img src="style/el_chilcal.png" alt="Escudo de El Chilcal" height="50px" >Club El Chilcal</button>
<button>Cicles Club Lavalle</button>
<button>Cicles Club Lavalle</button>
<button>Cicles Club Lavalle</button>
<button>Cicles Club Lavalle</button>
</body>
</html>